<div>
	<table class="table table-hover table-striped table-bordered">
		<thead>
			<tr>
				<th>Name</th>
				<th>User Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody *ngIf="_user">
			<tr (click)="editUserDetails()">
				<td>
					<div *ngIf="!isEditable">{{_user.name}}</div>
					<div *ngIf="isEditable">
						<input (click)="$event.stopPropagation()" type="text" [(ngModel)]="_user.name" />
					</div>
				</td>
				<td>
					<div *ngIf="!isEditable">{{_user.username}}</div>
					<div *ngIf="isEditable">
						<input (click)="$event.stopPropagation()" type="text" [(ngModel)]="_user.username" />
					</div>
				</td>
				<td>
					<div *ngIf="!isEditable">{{_user.email}}</div>
					<div *ngIf="isEditable">
						<input type="text" (click)="$event.stopPropagation()" [(ngModel)]="_user.email" />
					</div>
				</td>
				<td>
					<div *ngIf="!isEditable">{{_user.phone}}</div>
					<div *ngIf="isEditable">
						<input [(ngModel)]="_user.phone" (click)="$event.stopPropagation()" type="text" />
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<button *ngIf="isEditable" (click)="updateUser()">Save</button>
</div>
