<div class="container">
	<table class="table table-hover table-striped table-bordered" >
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>User Name</th>
		      <th>Email</th>
		      <th>Phone</th>
		    </tr>
		  </thead>
		  <tbody *ngIf="user">
		    <tr (click)="editUserDetails()">
		      <td>
		      	<div *ngIf="!isEditable">{{user.name}}</div>
		      	<div *ngIf="isEditable"><input (click)="$event.stopPropagation()"  type="text" value="{{user.name}}" [(ngModel)]="user.name"/></div>
		      </td>
		      <td>
		      	<div *ngIf="!isEditable">{{user.username}}</div>
		      	<div *ngIf="isEditable"><input (click)="$event.stopPropagation()" type="text" value="{{user.username}}" [(ngModel)]="user.username"/></div>
		      </td>
		      <td>
		      	<div *ngIf="!isEditable">{{user.email}}</div>
		      	<div *ngIf="isEditable">
		      		<input  type="text" (click)="$event.stopPropagation()" value="{{user.email}}" [(ngModel)]="user.email"/>
		      	</div>
		      </td>
		      <td>
		      	<div *ngIf="!isEditable">{{user.phone}}</div>
		      	<div *ngIf="isEditable"><input [(ngModel)]="user.phone" (click)="$event.stopPropagation()" type="text" value="{{user.phone}}"/></div>
		      </td>	
		      	      
		    </tr>
		  </tbody>
	</table>
</div>