<div *ngIf="legislator" class="title">
	<div class="h1">{{legislator.last_name}}, {{legislator.first_name}}</div>
	<h4>{{legislator.state_name}}: {{legislator.chamber | capitalize}}</h4>
	<div class="h4" *ngIf="!legislator.in_office">Not Currently Serving</div> 
	<div *ngIf="legislator.in_office">
		<div class="h4">Currently in office</div>
		<div><a target="_blank" href="{{legislator.website}}">Website</a></div>
		<div *ngIf="legislator.contact_form"><a target="_blank" href="{{legislator.contact_form}}">Contact</a></div>

		<h3>Updates</h3>
		<div class="floor-updates">
			<ul>
				<li class="update-item" *ngFor="#floorUpdate of floorUpdates">
					<span class="legislative-day">{{floorUpdate.legislative_day}}</span>
					<span class="update">{{floorUpdate.update}}</span>
				</li>
				<li class="list-empty">No Current Updates</li>
			</ul>
		</div>
	</div>
</div>