<html>

  <head>
    <title>Angular 2 QuickStart</title>

    <% _.each( vendor_files.js, function( scriptSrc ){ %>
      <script src="<%= scriptSrc %>"></script>
    <% }); %>
    <!-- injector:js -->
    
    <!-- endinjector -->

    <!-- injector:css -->
    <!-- endinjector -->
    
    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        packages: {        
          "src": {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('src/boot')
            .then(null, console.error.bind(console));
    </script>

  </head>

  <!-- 3. Display the application -->
  <body>
    <congress-app>Loading...</congress-app>
  </body>

</html>