<html>

<head>
	<title>TU Angular2 Starter App</title>
	<!-- Angular specific files -->
	<% _.each(angular.files, function( scriptSrc ){ %>
		<script src="<%= scriptSrc %>"></script>
	<% }); %>

	<!-- vendor file injector, uses the basic node templating -->
	<% _.each(node_modules.files, function( scriptSrc ){ %>
		<script src="<%= scriptSrc %>"></script>
	<% }); %>

	<!-- toolbox css injector will go here -->
	<% _.each( ui_toolbox.css, function( scriptSrc ){ %>
		<link rel="stylesheet" type="text/css" href="<%= scriptSrc %>">
	<% }); %>

	
	<!-- injector:js -->
	<!-- endinjector -->
	<!-- injector:css -->
	<!-- endinjector -->
	<!-- 2. Configure SystemJS -->
	<script src="systemjs.config.js"></script>
	<script>
		System.import('app')
			.then(null, console.error.bind(console));
	</script>
</head>
<!-- 3. Display the application -->

<body>
	<tu-starter-app>Loading...</tu-starter-app>
</body>

</html>
