@import 'base/_variables';

.loading {
	position: relative;
	
	&:after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0%;
		right: 0%;
		background-color: $white;
		z-index: 99;
	}
}